.container{
	padding-left: 0px;
	padding-right: 0px;
	
	width:100%;
	height:auto;
}
.svg{
	border-style:solid;
	border-width: 2px;
	top:200;
}
.canvas{
	top:0;
	left: 0;
}
#buttonbar{
	margin-bottom: 0;
}
.btn-toolbar{
	position:relative;
	top:0;
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #272822;
	z-index: 1;

}

.sidebar {
    background-color: #54564a;
    top: 50px;
    height:100%;
    display: block;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    position: fixed;
    z-index: 0;
}